[2020-06-10 21:21] ak-li opened #3 "branch "WIP""
Möchte der Übersicht halber von den md-Dateien mit Status RC1 die ursprünglichen htm-Dateien entfernen.
Lege zu diesem Zweck einen Branch mit dem Namen WIP an.
Wir sollten dann nur noch auf dem Branch arbeiten und Master in Ruhe lassen.

[2020-06-10 21:56] hhl commented on #3
Ich habe die WIP branch als default branch markiert statt master, diese wird nun als master-branch die nächste Zeit behandelt.

[2020-10-09 11:26] hhl commented on #3
@ak-li gibt es schon htm(l) dateien, die man entsorgen könnte?

[2020-10-16 19:24] ak-li commented on #3
@hhl
Die htm-Handbuchseiten, deren md-Datei bereits (weitgehend) aktualisiert wurde, habe ich schon entfernt. Auch erkennbar an der Statuszeile "Status: RC1" im Header der md-Datei.
Bei Dateien mit "WIP" im Namen wurde die Aktualisierung begonnen.
Handbuchseiten mit gleichem basename und dem Vohandensein beider Erweiterungen (.htm und .md) sind noch unbearbeitet.

[2021-04-10 21:14] hhl commented on #3
akli, Geduld bitte, ich werde schauen und hoffe auch andere, und nicht aufgeben, es wird ein wenig dauern, und ja von der fachlichen Seite bin ich auch nicht die erste Wahl und ich mache mir auch meine Gedanken dazu, aber ich werde mich, so weit ich kann kümmern. Bitte habe Geduld!

[2021-04-20 05:58] hhl opened #6 "dateien gelöscht md2pdf und pandocc-header-pdf.tex"
Brauchen wir diese dateien nicht mehr?

[code]
[code]

[2021-04-20 05:59] #3 closed, assigned to nobody

[2021-04-20 13:17] hhl commented on #6
@ak-li
Ich habe einen pull request geöffnet, wenn es ein Versehen war, kannst du den pullrequest mergen, ansonsten lehne ihn ab

Siehe: https://github.com/siduction/sidu-manual/pull/7

[2021-04-21 11:15] ak-li commented on #6
@hhl
da habe ich wohl Mist gebaut.
Ich wollte die beiden Dateien mit meinen zusammenführen und nicht löschen. Da stekt ja unsere Arbeit drin und die Ergebnisse waren ganz gut.
Habe sie noch auf meinem PC. Ich kümmer mich heute Abend darum das wieder zu berichtigen.
Entschuldige nochmal, wollte dich nicht ärgern.

[2021-04-21 16:55] hhl commented on #6
@ak-li, alles ok, wunderte mich nur. Schau Dir ruhig mal den pull request an, ist eine Melange aus allem, incl. Datum automatisch mit Zeitstempel in UTC (so weiß jeder, wann das Manual erstellte wurde) und Autor, so braucht es nur noch %Manual bzw. %Handbuch an oberster Stelle erste Seite.

[2021-04-21 17:27] ak-li commented on #6
@hhl
Die beiden Dateien sind wieder im development-Ordner. Mit allen gemeinsam erstellten Optionen.

[2021-04-22 18:10] ak-li opened #8 "md-Dateien für WWW und PDF"
# Ideensammlung

## Generelle Behandlung der Dateien Status RC3
   + INFOBEREICH FÜR DIE AUTOREN entfernen.
   + Horizontale Linien entfernen.

Das Script *md_cleanup_RC3.pl* erledigt das für alle Dateien in dem eingetragenen Ordner.
Kann man abgeändert auch für die Link verwenden.

## Verwendung als PDF
   + Generell auch im WWW als PDF?
   + Dann eine Masterseite mit einer Menü-Sidebar
   + Nur

[2021-04-23 16:54] hhl commented on #8
Kurz,  fürs WWW hatten wir gedacht die Markdown Seiten zu nehmen und WordPress das rendern zu überlassen, so es dann funktioniert. Mit wenigen Hauptgruppen ist genau richtig!

[2021-04-25 18:41] #6 closed, assigned to hhl, ak-li

[2021-04-25 20:39] ak-li opened #9 "Neue Verzeichnisstruktur für Branch WIP"
hhl und ich haben verabredet den WIP Brunch von den alten, nicht mehr benötigten, Handbuchdateien zu bereinigen.
Das ist im wesentlichen erledigt.

Jetzt geht es darum die Verzeichnisstruktur für das neue Handbuch festzulegen. In der Folge werde ich dann alle internen Link zu Handbuchseiten und deren Kapiteln und zu den Bildern anpassen.

**Mit der Bitte um eure Meinung zu den vorgeschlagenen Vari

[2021-04-25 20:41] ak-li commented on #9
ak-li favorisiert Variante 1

[2021-04-26 21:54] hhl commented on #9
Variante 1, ist einstimmig von uns allen angenommen, als auch das Rendern von .html  um dann jene in WordPress einzubinden.
PDF zum Download und auf den ISO's,

[2021-04-26 21:59] hhl commented on #8
https://github.com/siduction/sidu-manual/issues/9#issuecomment-827170075

Nach kurzem Gespräch im Core-Team:
Gerenderte HTML-Dateien zum Einbinden in WordPress, PDF für download und auf den ISO's

[2021-04-27 12:37] ak-li commented on #8
Wird spannend, wie wir das aus einem .md-Stammverzeichnis generieren.

[2021-04-27 21:31] ak-li commented on #9
Änderung der Verzeichnisstruktur erledigt.
Zusätzlich die internen Link zu anderen Handbuchseiten von .htm auf .md geändert.

Wenn euch systematische Fehler auffallen, bitte hier benachrichtigen.

[2021-05-01 20:31] ak-li opened #10 "PDF und HTML aus einem Quellverzeichnis erzeugen"
## Ziel

Aus einem Quellverzeichnis mit den .md-Datein das Handbuch sowohl als einzelne .html-Dateien als auch als ein großes PDF-Dokument generieren. Das Ganze muss automatisiert mit je einem Script erfolgen.

### Widrigkeiten

Für HTML ist ein separates Inhaltsverzeichnis nötigt.
Interne Link sind von .md nach .html anzupassen.
pandoc für HTML verlangt den Metatag "% Mein Titel für diese Handbuc

[2021-05-02 18:14] ak-li commented on #10
Issue aktualisiert und erweitert.
Das testweise erstellte PDF "/development/siduction-manual_de.pdf" zeigt im Firefox die internen Link nicht an, in Evince funktionieren die Link. Allerdinge zur Zeit noch mit Fehler, da "\<datei\>_de.md".
Hat jemand so ein Verhalten schon mal woanders gesehen?

[2021-05-04 13:45] ak-li opened #11 "Lösung für interne Link"
## Das Problem

Wir wollen aus einem Quellverzeichnis mit den .md-Dateien das PDF und die HTML-Dokumente erzeugen.
Die bisher verwendeten internen Link auf andere Handbuchseiten funktionieren im PDF nicht.
Für die HTML-Dokumente muss nur ".md" durch ".html" ersetzt werden, was kein Problem ist.

## Die Lösung

Genial einfach.
Die richtige Schreibweise der Link und der Überschriften, sowie im Scrip

[2021-05-04 16:52] hhl commented on #11
Good catch, super!

Manchmal liegt das Gute so nahe, sodass man den Wald vor lauter Bäumen nicht sieht!

[2021-05-05 13:53] ak-li commented on #11
Änderung der Überschriften und Link vorerst abgeschlossen.
Wer Lust hat, darf sich gerne auf die Datein stürzen.

[2021-05-05 21:09] ak-li commented on #11
Neues siduction-manual.pdf erstellt und vorher div. fehlerhafte Link berichtigt. Einige Link funktionieren noch nicht, da sie auf Handbuchseiten verweisen, die nicht fertig sind.
https://github.com/siduction/sidu-manual/blob/WIP/development/siduction-manual_de.pdf

[2021-05-08 06:59] hhl commented on #11
Sieht schon ziemlich gut aus, bis auf ein paar Kleinigkeiten, die sind aber lösbar via Screenshot oder richtigem Zeilensatz (Formatierung).
Andere Sache und dies sollte wohl besser ein extra 'Issue' werden, und auch erst, wenn wir das _de-manual fertig haben, Mehrsprachigkeit!
Wir können ja nicht nur eine Sprache ausliefern oder getrennt, es müsste ein Dokument sein, manual_en/_de/_fr/_usw mit ein

[2021-05-08 08:41] vinzv commented on #11
Mal zwischendrin ein großes Lob: das sieht schon echt super aus! Vielen Dank für den Einsatz und die Mühe! 👍

[2021-05-08 17:09] ak-li commented on #11
Hallo Leute, folgende Dinge sind erledigt:

+ Nummerierung vieler .md-Dateien um eine Hirarchie für das PDF zu erzeugen.

+ Die Erweiterung des Script "md2pdf".

+ Script für HTML Dateien erstellen.
  Das sind zwei geworden "md2html5.sh", das ruft intern "md2html_pre.pl" auf.

+ Sonderzeichen aus Überschriften entfernen. Überschriften teilweise ändern.

+ In der Folge alle Handbuch internen Link a

[2021-05-09 20:51] ak-li commented on #11
Die Überschriftenlisten und das zugehörige Script stehen im Ordner /development zur Verfügung.

[2021-05-11 10:19] #8 closed, assigned to vinzv, siduxdevil, hhl, fethomm, towo2099, ak-li

[2021-05-11 10:20] #9 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2021-05-11 17:05] ak-li commented on #11
Habe die Überschriftenlisten und das zugehörige Script aufpoliert, sodass am Zeilenende die vorgefertigten Link für C&P bereitstehen.
Damit wird das Issue geschlossen.

[2021-05-11 17:05] #11 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2021-05-11 17:16] ak-li commented on #10
Issue erledigt:
+ PDF
  mit Script "md2pdf" und Datei "pandoc-header-pdf.tex"
+ HTML
  mit Script "md2html5.sh" und "md2html_pre.pl"  und Datei "pandoc_template.html5"
+ Überschriften
  mit Script "headline-extrakt.pl" und Dateien "headline-by-file" und "headline-by-text"
  Die Dateien enthalten fertige Link für C&P.

[2021-05-11 17:16] #10 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2021-05-16 11:39] ak-li opened #12 "menue-Datei für .html"
### tree-menue.html

Habe nach dem Vorbild der alten Webseite die Datei "**tree-menue.html**" erstellt.  Das tree-menue enthält keinen Zifferncode in den Dateinamen und Link.
Das Ganze geschieht mit dem Script "**/development/menue-extract.pl**" aus dem Ordner /data/de/ heraus.
Die "tree-menue.html" befindet sich wie alle anderen .html-Dateien im Ordner **/data/de/html/**.

Ein Teil der alten HTML

[2021-05-19 07:26] hhl commented on #12
@ak-li, für mich sieht die menue-Datei gut aus, wirklich sehr gute Arbeit, einzig vielleicht sollte die Netzwerkeinrichtung, also meist WLAN da LAN meist OOTB funktioniert, prominenter weiter oben im Menue auftauchen da geneigter Nutzer damit oft Startschwierigkeiten vor bzw. nach der Installation hat.

[2021-05-19 23:41] ak-li commented on #12
@hhl , die *tree-menue.html* wird mittels Script generiert und soll auf der Webseite ein Aufklappmenü sein, dann ist es nicht mehr so unübersichtlich lang. Ich füge mal etwas css-Code für die Aufklappfunktion in die *tree-menue.html* ein, zur Veranschaulichung.

Deiner Idee entsprechend der Vorschlag:
**Netzwerk:**
- Generell vor Systemadministration einsortieren. Dazu sind die Dateinamen anzupass

[2021-05-20 00:26] ak-li commented on #12
@hhl , Nachtrag Link zur Datei:
https://github.com/siduction/sidu-manual/blob/WIP/data/de/html/tree-menue.html

[2021-05-20 05:27] hhl commented on #12
@ak-li kann so gemacht werden! Danke super!

[2021-05-20 12:30] ak-li commented on #12
Datei:
https://github.com/siduction/sidu-manual/blob/WIP/data/de/html/tree-menue.html
mit css-Code für die Aufklappfunktion versehen.
Bitte herunterladen und im Browser testen.

[2021-05-24 18:28] ak-li commented on #12
0100-wel-quickstart_de.md angepasst.
Die alte 'menu_de.md' ist jetzt obsolet und wird von mir, sofern kein Widerspruch erfolgt, in wenigen Tagen entfernt und dann auch das Issue geschlossen.

Als Ergebnis haben wir jetzt eine aus den .md-Dateien mittels Script automatisierte Erstellung des PDF-Handbuches und der HTML-Handbuchseiten.

[2021-05-27 09:45] ak-li commented on #12
*menu_de.md* und *wm-dm_de.md* entfernt und Issue geschlossen.

[2021-05-27 09:45] #12 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2021-06-30 18:31] fethomm opened #13 "Missing formating"
The section  **journalctl beherrschen**  in **0717-systemd-journald_de.md** is not formatted, and I don't know how this is meant to be.

[2021-07-15 10:58] ak-li commented on #13
Changed table-format in section **journalctl beherrschen** in **0717-systemd-journald_de.md**.
Now same as other files.
Removed "RC3 ..."

[2021-07-15 10:58] #13 closed, assigned to ak-li

[2021-07-23 18:05] ak-li opened #14 ""hw-dev-mon_de.md" fehlt im Handbuch"
Die Datei ist uns auf  **DE_Status derHandbuchseiten** verloren gegangen, wurde aber mehrfach referenziert.

Wer ist in der Lage sie für die nächste Version des Handbuches zu aktualisieren?
Ich würde dann die Referenzen wieder einfügen.

Referenzen waren in
+ 0702-sys-admin-gen_de.md
   Kapitel "Schriftarten in siduction" (ab Zeile 216) 2x
   Kapitel "Userkonfiguration, DPI-Wert / Skalierungsfakto

[2021-07-27 20:19] towo2099 opened #15 "Manual neu bauen"
Am 28.07. Handbuch nochmal neu bauen
Vorher die Releasenotes aus dem Handbuch entfernen.

[2021-07-27 21:38] ak-li commented on #15
Um 23:10 erledigt.

[2021-07-27 21:38] #15 closed, assigned to ak-li

[2021-07-29 17:19] hhl opened #16 ".md5 becomes .html5"
@ak-li
https://github.com/siduction/sidu-manual/blob/WIP/development/md2html_pre.pl
Maybe row 92 causes the issue!

When generating the html files .md5 will be changed in .html5.

See  https://github.com/siduction/sidu-manual/blob/WIP/data/de/0206-cd-dl-burning_de.md and https://github.com/siduction/sidu-manual/blob/WIP/data/de/html/cd-dl-burning_de.html

[2021-07-29 22:41] ak-li commented on #16
Fehlerkorrektur mit Commit
https://github.com/siduction/sidu-manual/commit/f922fd57623fd917ddf4dbcdf3d9536549741c17
und
https://github.com/siduction/sidu-manual/commit/e2bd9cf854e5aa40a81e2bf66d4f0c5b78a403b8

@vinzv
Bitte das Issue schließen, wenn die Dateien auf dem Server sind.

[2021-07-31 20:17] ak-li opened #17 "0513-ssh_de.md, fehlerhafter Link"
Unter der Überschrift: **Entfernter Zugriff von einem Windows-PC**
Link "Cygwin XLiveCD" ist nicht erreichbar.
Software ist nur für 32bit Windows, somit veraltet.

Eventuell etwas Neues, oder entfernen?

[2021-07-31 20:25] fethomm commented on #17
Alternativen wären meines Erachtens xrdp, VNC oder direkt SSH via Putty.

[2021-08-05 17:57] hhl opened #18 "Rechtschreibung, Kommentar aus dem Forum"
https://forum.siduction.org/index.php?PHPSESSID=4407ece5603fdb815dc067fab4cf619f&topic=8356.msg67280#msg67280

---------------------------------------------------- snipp -----------------------------------

Hier nochmal der Versuch mit Angabe der Kapitel.
    • Generell sollten alle „Deppenapostrophen“ entfernt werden. Diese sollten mittels Suchen & Ersetzen gefunden und ersetzt werden können. Dah

[2021-08-05 17:58] fethomm commented on #18
Mach ich morgen

[2021-08-05 21:46] ak-li commented on #18
**Achtung bei den Überschriften**
Der Text der Überschrift muss mit einem Buchstaben beginnen, zusätzlich sind nur diese Sonderzeichen erlaubt: **Leerzeichen**, der **Punkt** und der **Bindestrich** bzw. das Minuszeichen.

Alles Andere führt zu kaputten Link entweder im PDF, oder in den .html-Dateien.
Im Zweifel meckert lieber jemand über die Rechtschreibung, als dass wir uns kaputte Link einbauen

[2021-08-05 22:15] hhl commented on #18
In diesem Falle müssten die Überschriften entsprechend angepasst bzw. geändert werden.

@ak-li
Kannst Du ein Beispiel dazu nennen?

Eigentlich sehe ich da kein Problem auf uns zukommen, es geht ja um die Apostrophe und deren Einsatz ;).
Und die Überschrift **ISOs** sollte dann doch vielleicht in **ISO-Abbilder** umbenannt werden.

 Da muss ich dem Revision-Leser recht geben, die Häufigkeit der Wör

[2021-08-06 13:21] ak-li commented on #18
Wo nötig, die Überschriften zu ändern, ist ja Sinn dieses Issue.
Meine Intention war es, noch einmal ausdrücklich darauf hinzuweisen, was bei Überschriften zu beachten ist. Das gilt für alle, die an den .md-Dateien arbeiten, mich eingeschlossen.

**Wiki > DE_Home > Überschriften**
und
**Wiki > DE_Home > Link zu Überschriften**
und
die Dateien **headline-by-file** und **headline-by-text**

Letzte W

[2021-08-07 13:07] hhl commented on #18
Erledigt, thx fethomm (devil)

[2021-08-07 13:07] #18 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2021-08-07 13:42] #17 closed, assigned to fethomm

[2021-08-07 16:39] hhl opened #19 "Please generate a new"
@ak-li
After fixing #17 & #18 we should build the HTML sites and the PDF document new.

If done, we need a new to update the manual-package and the webpage.

[2021-08-07 17:58] ak-li commented on #19
just generated and uploaded.

@hhl
Danke für die Arbeit.

[2021-08-07 17:58] #19 closed, assigned to vinzv, fethomm, towo2099, ak-li

[2021-08-07 18:00] ak-li commented on #16
closed with issue #19

[2021-08-07 18:00] #16 closed, assigned to vinzv, ak-li

[2021-08-07 19:16] hhl opened #20 "please upload the html-files"
See, #16 #17 #18 #19 #21
and sorry for the spelling

[2021-08-07 19:24] hhl opened #21 "please rebuild the manual"
See #16 #17 #18 #19

Fixed spelling and paragraphs, thx edlin
Fixed settings and minor issues, thx akli

[2021-08-07 19:46] hhl commented on #21
@ak-li did you generate a new PDF?

[2021-08-08 11:16] ak-li commented on #21
Mit

https://github.com/siduction/sidu-manual/commit/c1f7f75275e5b67fac0884e22c120fd0c5ba3b47

erledigt.

[2021-08-08 11:16] #21 closed, assigned to towo2099, ak-li

[2021-08-08 11:24] ak-li commented on #20
@vinzv

work finished.
PDF and .html up to date.

[2021-08-11 07:25] #20 closed, assigned to vinzv

[2021-08-11 07:27] hhl opened #22 "Please rebuild the manual"
@towo2099
So, we need a new manual package, to  update it via apt.

[2021-08-11 07:51] towo2099 commented on #22
Done in version 2021-07-4

[2021-08-11 07:51] #22 closed, assigned to fethomm, towo2099

[2021-11-05 06:32] der-bud opened #24 "0501-inet-nm-cli_de.md: plasma-nm statt plasma-widget-networkmanagement"
https://github.com/siduction/sidu-manual/blob/WIP/data/de/0501-inet-nm-cli_de.md Paketliste für Installation (2. Absatz), plasma-widget-networkmanagement gibts nicht, plasma-nm sollte installiert werden.

[2021-11-05 08:13] #24 closed, assigned to nobody

[2021-11-24 22:03] vinzv opened #25 "completion of EN translation of the manual"

[2021-11-24 22:03] vinzv opened #26 "completion of EN translation of the manual"

[2021-11-25 04:55] fethomm commented on #26
I have someone who wants to help. He is an 85-year-old professor that will join us at our next meeting. He is the one who contacted me a couple of months ago, and he has worked with Git before.

[2021-11-25 05:02] fethomm commented on #26
Can someone please assign Donald to the project. All he needs is the ability to edit and maybe move files. His email address is donjoyceward@gmail.com

[2021-11-25 08:50] hhl commented on #26
Well, did he have  a GitHub account? If yes, he can fork the manual and make a pull request with the first changes, so we know his login name to add him to the team.

In short, we need a login name!

[2021-11-25 08:56] fethomm commented on #26
Did I mention, he is 85? Let's keep it simple with editing online. He had a Git account before. So I tell him to get  a new one and give me the login name.

[2021-11-25 09:00] hhl commented on #26
He can work like he wants, btw. a fork can also be edited online ;)

[2021-12-02 21:32] vinzv commented on #26
@DonandJoyceWard is added to the organization and has full editing rights.

[2022-01-13 08:31] hhl opened #28 "No Getty on tty1 --> tty2 ist das neue tty1"
In einigen Artikeln wird noch tty1 beschrieben, um via getty (Konsole) administrative Dinge zu erledigen oder eine Systemrettung einzuleiten.
Dies müsste auf tty2 geändert werden, da dies seit geraumer Zeit wohl der neue Standard ist und so einfach nicht zu ändern ist.
Auch sollten wir das in unseren isos nicht ändern, da dann doch zu viel hinten dran hängt.

We need to replace tty1 with tty2, bec

[2022-01-13 08:47] hhl opened #29 "IWD neue/new main.conf"
IWD 1.21-2 provides now its own /etc/iwd/main.conf.
IWD 1.21-2 wird mit eigener /etc/iwd/main.conf ausgeliefert.

If someone installs or update  IWD (>=1.21-2)  he/she only had to modify the main.conf,
In our case, by removing the comment (#) at the line  ''#EnableNetworkConfiguration=true"
That is the only thing he/she had to do as long as systemd is used, in other cases they have to change a bit

[2022-01-13 09:47] davydych commented on #28
Danke für den Hinweis.
Ist das für zukünftige Versionen des Handbuchs relevant? In der aktuellen finde ich nämlich nichts zu getty. tty1 wird lediglich am Ende von Abschnitt 1.2.6 _siduction IRC-Support im Textmodus_ erwähnt.

[2022-01-13 10:22] hhl commented on #28
Mh, es ist schon relevant auch für zukünftiges, vielleicht kommt ja noch das ein oder andere dazu.
Wenn es jetzt nur in einem Kapitel vorkommt, ist dies ja gut und hält den Aufwand gering.
Man muss aber auch nach jenem Ausschau halten -> 'Alt + Strg + F1'  oder 'Alt+Ctrl+F1.
Da müsste das F1 in F2 geändert werden, ansonsten landet man an falscher Stelle und sieht nur die Bootmeldungen bzw. einen s

[2022-01-13 10:43] davydych commented on #28
Gut, dann werde diese Stelle heute Nachmittag in der deutschen und der englischen Version ausbessern und in Zukunft auch darauf achten.

[2022-01-13 11:55] ak-li commented on #28
Zur Unterstützung hier die einzigsten Fundstellen (auch mit anderen Suchmustervarianten probiert):
in DE mit:
/data/de$ grep -on -e 'Alt.*F1' *
0202-live-mode_de.md:57:Alt` + `Strg` + `F1 (Zeile 57)

in EN mit:
/data/en$ grep -on -e 'Alt.*F1' *
0202-live-mode_en.md:52:Alt`+`Ctrl`+`F1 (Zeile 52)

Das gesamte Verfahren zu der Anmeldung von TTY1 weg zu TTY2 ist anzupassen, da ja noch kein Login vorha

[2022-01-13 13:37] ak-li commented on #29
Fixed with commit a385fc6
https://github.com/siduction/sidu-manual/commit/a385fc60960c1995e0ab56ba586a7fe3d552b264

[2022-01-13 13:37] #29 closed, assigned to fethomm, ak-li, davydych

[2022-01-13 15:49] ak-li commented on #28
Mit dem geänderten Verhalten von TTY1 ist die Zeile 57 in 0202-live-mode_de bzw. Zeile 52 in 0202-live-mode_en Nonsens!
Erklärung:
"Wenn ich mich ausgesperrt habe..." bedeutet, dass ich das Passwort für siducer geändert habe und es nicht mehr weiß.
Dann hilft auch kein TTY2, da ich mich dort, bevor ich zu root werden kann, als siducer mit Passwort anmelden muss. Der Wechsel mit Strg+Alt+F2 zu TTY2

[2022-01-13 16:49] hhl commented on #28
Da muss ich Dir recht geben, es ist wirklich Nonsens.
Von meiner Seite aus finde ich den Vorschlag gut, ich würde es so oder ähnlich machen.

[2022-01-13 16:53] fethomm commented on #28
ACK

[2022-01-13 17:00] davydych commented on #28
Würde das dann direkt umsetzen wie von @ak-li vorgeschlagen.

[2022-01-13 17:02] fethomm commented on #28
Do it to it.

[2022-01-13 17:37] ak-li commented on #28
Fixed with commit 3882d0 and b275b9b.

@davydych
Vielen Dank, dass du dich der englischen Seiten angenommen hast. Ich finds einfach toll.

[2022-01-13 17:37] #28 closed, assigned to ak-li, davydych

[2022-01-28 08:21] hhl opened #30 "They demoted wpasupplicant to recommends in network-manager"
Read the changlog
[code]
So with network-manager >= 1.34.0-2 it is possible not to install or remove wpasupplicant.
We have to rethink the workflow of how IWD will be installed and enabled.
I refer [0502-inet-iwd_de.md](https://github.com/siduction/sidu-manual/blob/WIP/data/de/0502-inet-iwd_de.md) and  to [0502-inet-iwd_en.md](https://github.com/siduction/sidu-manual/blob/WIP/data/en/0502-inet-iwd

[2022-01-31 22:00] hhl opened #31 "In some pages, we refer to init 3 and init 5, but we use systemd"
In the chapter/page https://github.com/siduction/sidu-manual/blob/WIP/data/de/0100-wel-quickstart_de.md and _en.md we use "init 3" and "init 5", maybe in some other chapters too.
In siduction we use systemd, so the new "init" 3 is the  multi-user.target, to reach it, it can be done by following commands "systemctl isolate multi-user.target" or "systemctl stop sddm.service" (if sddm is used as disp

[2022-02-01 13:10] ak-li commented on #31
Das ist bekannt und meiner Meinung nach auch abschließend geregelt, denn selbst in der manpage systemd steht ein entsprechender Hinweis.

Bei uns steht es in "0702-sys-admin-gen"

[2022-02-02 09:27] hhl commented on #31
Dann ist gut.
Sollte es denn eine kurze Erwähnung auf der Schnellstartseite finden, als Hinweis?
Frei nach dem Motto: Auch wenn siduction systemd nutzt, werden hier die alten sysvinit-Befehle verwendet, da diese … usw. Siehe …
Ist jetzt nur eine Frage, muss nicht!

[2022-02-02 16:04] ak-li commented on #31
Ich möchte das nicht abwiegeln, aber so ganz erschließt sich mir nicht der Sinn eines zusätzlichen Hinweises.
Du beziehst dich auf die Seite "0100-wel-quickstart" ?

Der init-Befehl taucht dort ausschließlich im Kapitel
**Aktualisierung des Systems - upgrade**
zweimal auf. Erst `init 3` und dann `init 5`.
An dieser Stelle würde der Hinweis nach meiner Meinung nur verwirren.

Folgend alle Textstell

[2022-02-04 08:55] hhl commented on #31
Mir war dies beim Überfliegen der Seite halt aufgefallen, habe da jetzt auch nicht weiter geforscht. Da siehst du, wie tief ich im Handbuch stecke. Das brauchst du nicht abbügeln, wie gesagt, ist mir  ins Auge gefallen und ich habe regiert. Also kannst das Issue schließen.
Und ja, es liest sich flüssiger,

[2022-02-04 12:13] ak-li commented on #31
Mit Änderungen der beiden "0705-sys-admin-apt" (https://github.com/siduction/sidu-manual/commit/8266205648a09564424ccfa2a032d1d5142b9f37) geschlossen.

@hhl
Das Issue hat doch zu Verbesserungen geführt. :-)

[2022-02-04 12:13] #31 closed, assigned to fethomm, ak-li, davydych

[2022-02-04 14:06] ak-li opened #32 "Generation of the manual files (PDF and HTML) with one program call."
Auf Anregung von vinzv möchte ich im Ordner "/development" ein Script erstellen, dass mit Hilfe mehrere schon bestehender Scripte alle notwendigen Dateien für die Veröffentlichung des Handbuches in allen zur Verfügung stehenden Sprachen generiert.

[2022-02-07 12:32] ak-li commented on #32
Mit commit https://github.com/siduction/sidu-manual/commit/d250c17e209b03955b0f2900db7a29d8b497519c erledigt.

Das Script `00-generate-manual.pl` im Ordner `/development` erstellt mit Hilfe der anderen numerierten Dateien das PDF, die einzelnen HTML-Dateien und die HTML-Menue-Datei in den gewünschten und zur Verfügung stehenden Sprachen. Der Aufruf lautet
`./00-generate-manual.pl en de` im Ordner

[2022-02-07 13:03] fethomm commented on #32
Gute Sache, danke!

[2022-02-07 14:06] ak-li opened #33 "Bring multilingualism of the manual to the live media and the website."
For the next release we should achieve this.

[2022-02-08 20:57] ak-li commented on #32
### pandoc zu HTML produziert Fehler mit Umlauten

Bereits in den .md-Dateien umkodierte Umlaute (`ü` -> `&uuml;`) schreibt pandoc bei der Erstellung der HTML Dokumente wieder zurück.
Aus diesem Grund habe ich die Scripte mit commit https://github.com/siduction/sidu-manual/commit/ba28dd93c90b400de47ce83a11f2f490c319cfff entsprechend angepasst.
Gleichzeitig wurden die Header entsprechend den zur Ze

[2022-02-12 16:35] ak-li opened #34 "EN translation"
@davydych, kannst du bitte Ausdruck und Rechtschreibung überprüfen. Danke.
Geringfügige Änderung in
0301-hd-install_en.md Zeile 158

[2022-02-19 12:48] vinzv commented on #30
From what I read in the manual, there's nothing necessary to change there. Steps to disable wpasupplicant and enable iwd are already there.

For the ISO configs:
While it's not very clean and pretty, we could as well just disable wpasupplicant and leave the package installed.

[2022-02-19 12:50] fethomm commented on #30
We should leave it installed, in case someone wants to go back to it from iwd.

[2022-02-24 20:19] ak-li opened #35 "New 0703-doas_de.md"
Need review.
[0703-doas_de.md](https://github.com/siduction/sidu-manual/blob/WIP/data/de/0703-doas_de.md)
Who can help?
Also changed:
[0701-term-konsole_de.md](https://github.com/siduction/sidu-manual/blob/WIP/data/de/0701-term-konsole_de.md) line 95 - 101.

[2022-02-26 13:33] ak-li commented on #35
Finished, now RC3.

[2022-02-26 13:33] #35 closed, assigned to vinzv, hhl, fethomm, towo2099

[2022-02-26 13:38] fethomm opened #36 "su vs. su -"
I suggest substituting 'su' with 'su -', since 'su' does not grant a full root anymore.

[2022-02-27 19:56] ak-li commented on #36
I think nothing to do.

Ich hatte in den letzten Jahren noch nie Probleme  mit dem Kommando su.
Die Verlagerung des Kommandos 'su' von shadow zu util-linux wurde in Buster (2019-07-06) eingeführt und war somit schon vorher in sid.
Die Recherche von **Debian Bug report logs - #833256** und **https://wiki.debian.org/NewInBuster** ergab u.A. folgende Abhilfemaßnahmen:

1. Use su - instead; this launc

[2022-03-01 11:47] #36 closed, assigned to ak-li

[2022-03-04 14:21] ak-li opened #37 "Reordering the 0206 ff - files"
Im Bereich Download und Brennen gibt es strukturelle und inhaltliche Unstimmigkeiten.

- Es fehlen dort Informationen zu USB-Stick/SD-Card
- Download und GUI brennen in einer Datei
- Eine ganze Reihe von Konsolebefehlen, die nicht mit den Isos in Zusammenhang stehen

Mein Vorschlag mit neuen Dateinamen und teilweise neuen Überschriften:

[code]

Die bisherigen Verlinkungen auf die Dateien sind nur

[2022-03-04 14:36] hhl commented on #37
Von meiner Seite ist dies so OK.
Werden die am Thema vorbeiführenden CD/DVD Brennbefehle  via Konsole (eher Kategorie Tipps und Tricks) nach 0701 verschoben und dann an entsprechender Stelle in 209 mit Hinweis verlinkt ->  0701, verstehe ich das richtig?

[2022-03-04 16:06] ak-li commented on #37
Ich dachte genau anders herum. weil "Verfügbare Geräte" und "Brennen mit cdrdao und wodim" ja Voraussetzung für "Nützliche Beispiele für CD und DVD" sind. Außerdem hat die 0209 ohne die Beispiele nur 30 Zeilen und Dinge wie ISO-Abbilddatei erstellen passen wiederum in beide Dateien.

[2022-03-04 16:11] hhl commented on #37
Wenn dem so ist, du hast freie Hand von meiner Seite aus.

[2022-03-11 16:43] ak-li commented on #37
**Überprüfung notwendig**

[code]

Zeitnah folgt noch die Änderung der internen Links anderer Seiten.

[2022-03-15 18:55] ak-li commented on #34
@davydych, kannst du bitte Ausdruck und Rechtschreibung überprüfen.
https://github.com/siduction/sidu-manual/commit/b36bde084e2412d742146dc47df621610df09566
0701-term-konsole_en.md, Zeilen 230-234

Vielen Dank

[2022-03-23 15:32] davydych commented on #26
The English translation is basically ready. I have checked and corrected all files except for these two:

0200-isos_en (will probably be changed in connection with issue #37 together with some other files in the same chapter)
0000-welcome (maybe this one will too be changed before publication)

[2022-03-23 15:46] davydych opened #38 "Formatting conventions in manual"
When I started to work on the English translation of the manual, I noticed a lack of consistency in connection with the formatting of directory names, file names, etc.
So during my work I tried to apply the formatting that seemed to be used most frequently. Of course, I could not apply this perfectly, because many of the conventions were applied from the first file on.
I made notes on these conven

[2022-03-23 17:59] fethomm commented on #26
Wow. Job well done. Thanks so much for pulling this through. It will be a nice feature of the next release. Thanks also go to Axel Konrad, who tirelessly worked on this.

[2022-03-23 18:08] fethomm commented on #38
Without looking at the formatting more closely, I do agree with your proposals regarding highlighted command options and that there is no necessity for lots of bold text. That always sets me off anywhere I see it, same as the inflationary use of exclamation marks. :) A wiki page would indeed be nice, as we might have to apply the changes we agree on also to the DE manual. It would also be a guidel

[2022-03-25 18:52] ak-li commented on #38
In Bezug auf die Konsistenz der verschiedenen Formatierungen hast du recht. Es liegt auch darin begründet, dass mit der Reaktivierung des Handbuches teils alte Texte übernommen, teils Inhalte vollständig neu erstellt wurden.

Zur Sache:
+ Die Wiki Seiten DE\_Home und EN\_Home enthalten bereits einen Teil der Format Konventionen.
+ Das Handbuch ist eine Mischung aus Textdatei und technischen Inhalt

[2022-03-25 19:42] ak-li commented on #34
Noch einmal auch von meiner Seite vielen Dank für deine Arbeit.

Die in deinem Commit https://github.com/siduction/sidu-manual/commit/f0b526b1be9bf9fdd1235f6e07e17ca5817ca928 beschriebenen Dateien 0000-welcome_en und 0200-isos_en sind nun aktuell und harren deiner Fähigkeiten.

Die deutschen 0206 - 0209 Dateien warten auf einen Review und anschließend auf die Übersetzung. Sobald die Arbeiten daran

[2022-03-26 15:48] davydych commented on #38
Thank you both for your feedback!

@ak-li:

Using `highlighted text` for everything related to the terminal and for keys sounds reasonable to me.

So do quotation marks for citations (for example: code blocks are often followed by explanations of the individual lines or commands -> citations)

Your points on using bold and italics according to the intended emphasis are also convincing.
I assume th

[2022-03-27 20:00] ak-li commented on #38
@davydych
Please compare the file `0206-iso-dl_de.md` with the English one. I have changed the formats there up to line 143.

Nun der Vorschlag:

1. fett und hervorgehoben
    Nur zur Verwendung in technischem Kontext. Es ist Text, der in dieser Form direkt in ein Terminal eingegeben werden kann, oder eine Ausgabe des Terminals darstellt.
   - Inline Code, analog zu Quellcodeblöcken.
     Zum Beis

[2022-03-27 20:51] ak-li commented on #38
@davydych

Please also compare the files [0702-sys-admin-gen_en.md](https://github.com/siduction/sidu-manual/blob/WIP/data/en/0702-sys-admin-gen_en.md) and [0702a-sys-admin-gen_en.md](https://github.com/siduction/sidu-manual/blob/WIP/data/en/0702a-sys-admin-gen_en.md)
In 0207a I changed the section "systemd.service", and I think it's looking better.

Already looking forward to your reply.

[2022-03-28 07:19] davydych commented on #38
@ak-li

I agree, both files are looking way better now.

I was a little concerned that there would be too much `highlighting`, but I've tested some paragraphs with a lot of directory names and it doesn't look bad. Anyway, we can still change this in the future if necessary.

Two things I want to add:
- key combinations without spaces between the keys and the plus signs, i.e. **`ALT`**+**`CTRL`**+*

[2022-03-28 11:20] ak-li commented on #38
@davydych

Auf deine Anregung hin habe ich die Begriffe "-s" und "--kill-who=" in den Zeilen 66 und 67 der Datei 0702a noch einmal getestet, jeweils mit Anführungszeichen und als fetten Text.
Ich halte die Formatierung als hervorgehobener Text trotz der vielen Hervorhebungen immer noch für die beste. Es verdeutlicht die Verwendung im Terminal. Außerdem ist der Text im Vergleich zur vorherigen Vers

[2022-03-28 14:14] davydych commented on #38
@ak-li

concerning 2. hightlighting and italics:
I cannot think of a situation where a highlighted text would need to be completely in italics.
But we could use italics inside a terminal command that contains variables to be substituted
e.g. <code>systemctl status *unit*</code>
I've seen this formatting in the ArchWiki and I think this makes sense
(cf. table in this chapter: https://wiki.archlinux

[2022-03-28 20:52] ak-li commented on #38
@davydych

concerning 2. hightlighting and italics:
Your example (<code>systemctl status *unit*</code>) is well-intentioned, but not practical.
When we started migrating the old manual from almost unreadable HTML code to Markdown, we agreed to stop using HTML code if possible. All that was left was a single format for the footer (see [EN_Home#footer-in-the-new-files](https://github.com/siduction/s

[2022-03-29 06:24] davydych commented on #38
Sure, angle brackets work just as fine. And in that case we don't need hightlighting + italics.

So yes, I agree and it seems like our list is complete :)
Thanks for the constructive discussion!

[2022-03-29 20:01] ak-li commented on #38
@davydych @hhl @fethomm @vinzv

Since we were able to work out a uniform formatting of the manual pages so quickly and constructively, I ask everyone to review wiki pages [DE-Home](https://github.com/siduction/sidu-manual/wiki/DE_Home) and [EN-Home](https://github.com/siduction/sidu-manual/wiki/EN_Home).
Please note any change requests here.

If there are no suggestions, davydych and I will start

[2022-03-29 20:44] hhl commented on #38
It looks good to me, but I am not an expert in text formatting.
So, from my side, go!
We will see what the outcome is.
For me, it is important how the pdf- and html-document looks and if it is easy to read and understand,

[2022-03-30 05:58] davydych commented on #38
I checked both wiki pages and corrected some minor things:
- added commas where appriopriate
- removed unnecessary periods (Periods are only set after complete sentences.)
- use of capital and small letters

Besides that everything looks fine.

[2022-03-31 17:21] ak-li commented on #38
@davydych

I start by changing the formatting in the "/de" folder.

[2022-04-03 12:01] ak-li commented on #34
@davydych
I made minor adjustments to the text in two files as part of the formatting process.

0703-sys-admin-doas_de.md
line 61-65 and 80 (logical mistake of the configuration)
line 69 (whole path)

0705-sys-admin-apt_de.md
line 245-252 (expression, sentence structure)
line 383-390 (expression, sentence structure)

[2022-04-05 11:37] ak-li opened #39 "Formatting 0311-part-uuid"
@davydych

I run into a formatting issue at line 46-56.
The table with the commands for the labels in different file systems is badly readable and the code `<LABEL>` is not displayed.

+ The angle brackets would have to be masked and the code `<LABEL>` should be written in lower case.
+ The commands are nevertheless poorly readable, as I tested.
+ The format conventions do not translate well visua

[2022-04-05 12:11] davydych commented on #39
@ak-li
I agree with you and I will copy the list into the English file right now.

[2022-04-05 12:25] #39 closed, assigned to ak-li, davydych

[2022-04-07 20:32] ak-li commented on #37
With https://github.com/siduction/sidu-manual/commit/e428fba93aa9a3005b73e34ec545797a6451f411 finished.

[2022-04-07 20:32] #37 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li, davydych

[2022-04-07 20:33] ak-li commented on #34
@davydych

Now the files 0206- up to 0209- inside the en-folder are new or updated.
Please have a look at them.
I am proud and happy that we can finish the work.
Thank you for your commitment.

[2022-04-07 20:34] #38 closed, assigned to hhl, fethomm, ak-li

[2022-04-08 11:33] davydych commented on #34
@ak-li

Sure, I'll do the translations, but first I would like to finish the files on systemd.
The English manual should be ready in a couple of days.

[2022-04-12 21:30] ak-li opened #40 "PDF-Manual, Internal link lead to the paragraph BEFORE the destination address"
Internal link lead to the paragraph before the destination address and thus partly to the previous page.
This is an issue with LaTex and affects the file
[11-helpfile-pdf-manual-header.tex](https://github.com/siduction/sidu-manual/blob/WIP/development/11-helpfile-pdf-manual-header.tex)

[2022-04-13 17:46] Mister00X commented on #40
I think I have found the culprit
https://github.com/siduction/sidu-manual/blob/5fed907071e381bbb299609db1f96bb6c524a9b0/development/11-helpfile-pdf-manual-header.tex#L34-L40

According to the `hyperref` manual (version 2021-06-07):

Pandoc uses `hyperref` for creating links so I assume there is some mismatch in position because of the use of `titlesec`.

What was the initial reason for using `titl

[2022-04-13 22:28] ak-li commented on #40
@Mister00X
First of all, thank you for your answer.

Not separately, but as some options in files `10-generate-pdf-manual.sh` and `11-helpfile-pdf-manual-header.tex`.
Due to lack of own expertise we used code snippets found on the Internet that seemed useful.

Additional this wiki page contains the MD code we use.
https://github.com/siduction/sidu-manual/wiki/EN_Home#md-code-for-block-elements
Reg

[2022-04-14 09:30] Mister00X commented on #40
@ak-li Thanks for the explanation.

I think the easiest way to fix this is to kick the `titlesec` package and simply redefine the `\section{}` and `\subsection{}` macros to include a `\clearpage` before them **but** this will IMHO create a problem with https://github.com/siduction/sidu-manual/blob/ffc547a9881123f0a09dcfd718f7abe9933ed87b/data/de/0100-wel-quickstart_de.md?plain=1#L3-L5  where there

[2022-04-14 10:57] ak-li commented on #40
Same for me. :-1:  Before you look long:
The problem exist in `0302-hd-ins-fromiso_de.md`. I renamed it to `hd-ins-fromiso_de.md`. Now pandoc fit the PDF.
I'll find the mistake in inside the file.

I think the easier way is to change the heading line 5 to bold text, as it is in `0000-welcome_de.md`. Because there are no subgroups. I just tested it. Looks good.
All other 0x00 files are the start of

[2022-04-14 11:11] Mister00X commented on #40
Please give me a short ping when you fixed the error in `0302-hd-ins-fromiso_de.md` so I can pull in the fix before sending a pull request. In the meantime I will also rename it.

Great. In that case I will start experimenting this afternoon/evening. (Hopefully my idea does not also break hyperref :stuck_out_tongue_closed_eyes:)

[2022-04-14 11:48] Mister00X commented on #40
~Great news. LaTeX appears to ignore the additional `\clearpage` if there is no text between two headlines. So no changes are needed on the `Quickstart` headline.~ Scratch that, i was wrong.

I am currently still experimenting (aka. clicking the links in the PDF like a maniac) but my idea appears to work.

[2022-04-14 11:52] hhl commented on #40
Hi, I found the error and fixed it, see [de6808c](https://github.com/siduction/sidu-manual/commit/de6808c8ba053f0bed08c3415f52456a0564546a)

[2022-04-14 12:39] ak-li commented on #40
Commit https://github.com/siduction/sidu-manual/commit/b2502447eb22f18df3ff6db8f1e6604c61ef3067 solves the headline issue of `0100-wel-quickstart_de.md`

Commit https://github.com/siduction/sidu-manual/commit/823f9ad20ed153240b6ced991be14e1b0ceb3d00 solves the issue of generation PDF. Mistake at line 35 in `0302-hd-ins-fromiso_de.md`
The English files contain some similar errors. I am looking for

[2022-04-14 13:16] ak-li commented on #40
Commit https://github.com/siduction/sidu-manual/commit/e31dffd01e7ed44e2a050ab01602c6cf2b58b7ae solves the issue of generation en-PDF

[2022-04-14 13:46] ak-li commented on #40
Commit https://github.com/siduction/sidu-manual/commit/df266085c311131509969c8d66f21d509fca9587 solves the headline issue of `0100-wel-quickstart_en.md`

@Mister00X
Now all errors that hindered the creation of the PDF should be removed. I hope so.

The new PDF (de and en) also updated.

[2022-04-14 13:50] Mister00X commented on #40
Okay I'll try a rebase and send an PR afterwards.

[2022-04-14 15:29] #40 closed, assigned to nobody

[2022-04-14 15:51] ak-li commented on #34
@davydych
I think we can close this issue now. When new files come in we will open a new one.
Thanks for the lots of good work.

[2022-04-14 16:00] ak-li commented on #26
@vinzv @davydych @fethomm @hhl @
Work done.
Special thanks to the two new contributors.

[2022-04-14 16:00] #26 closed, assigned to nobody

[2022-04-14 16:03] hhl opened #42 "In the English manual (PDF?), there is the word Abbildung"
Under images/pictures there is the word "Abbildung NN, some text".
At least in the generated PDF document.
Maybe it is generated by a script?

[2022-04-14 16:15] hhl commented on #42
I have done a little test.

In the 11-helpfile-pdf-manual-header.tex,
if we change \usepackage[main=ngerman, english]{babel} to \usepackage[main=english]{babel}

Then  the output is the right one, Figure instead of Abbildung.

[2022-04-14 16:19] hhl commented on #26
Great Work, great job, thank you all!

[2022-04-14 17:16] Mister00X commented on #42
I think I already found the culprit.
There is some kind of double definition in `10-generate-pdf-manual.sh` and `11-helpfile-pdf-manual-header.tex`, pandoc allready uses babel but the variable for setting the language has the wrong name.

I'll send a PR soon.

[2022-04-14 19:02] ak-li opened #44 "PDF: Code blocks within lists poke into the right page margin"
An issue with pandoc and LaTex ?

[2022-04-14 19:28] #42 closed, assigned to nobody

[2022-04-14 20:24] Mister00X commented on #44
I had a sudden "Geistesblitz". I know the fix.

I am preparing a PR.

[2022-04-15 12:58] #44 closed, assigned to nobody

[2022-04-15 15:38] Mister00X opened #46 "Improve readability of the pandoc command in the pdf generation script"
While solving the language issue I realized that this line https://github.com/siduction/sidu-manual/blob/283633c64daaeaf2d0a1dbc6058bcb024d6f7709/development/10-generate-pdf-manual.sh#L108 is especially hard to read because it's so long.

Maybe it would be possible to change it to one option per line.
I imagine something like this:
[code]
This would make it more readable and probably better `grep`

[2022-04-15 21:44] DonandJoyceWard commented on #26
Good work.  Thanks for your efforts.  I am still trying to go through the
whole effort.

Don Ward or Joyce Ward
***@***.***  (Primary)
***@***.*** ***@***.***> (Secondary)
1401 Greenbrier Dr
Sherman, TX 75092
Cells:   Don:    903 818-3381
           Joyce:  903 818-3382

On Thu, Apr 14, 2022 at 11:19 AM Hendrik Lehmbruch ***@***.***>
wrote:

[2022-04-15 21:52] ak-li commented on #46
Good idea. I did it.

[code]

[2022-04-15 22:13] Mister00X commented on #46
Good catch. According to https://pandoc.org/MANUAL.html#option--highlight-style it is indeed `--highlight-style=<STYLENAME>`.

Btw did githubs markdown eat away all the `\` in your comment?

[2022-04-15 23:13] ak-li commented on #46
I'll change to `--highlight-style=<STYLENAME>`

Changed layout of previous comment to show the backslash.

[2022-04-16 06:07] davydych commented on #26
I'm glad to help.

@DonandJoyceWard
Looking forward to your feedback. Since I'm not a native speaker, the English version may not be perfect. But at least, it should be better than the automated translation now.

[2022-04-16 06:59] davydych opened #47 "0303-hd-ins-fromiso_en to be removed?"
@ak-li
I was comparing the German and English version of the manual, when I mentioned a difference in Chapter 4.
The English version contains the subsection "4.3 Installation on USB stick - memory card", while the German version does not.
By comparing the folders, I can see that there is no `0303-hd-ins-fromiso_de.md` in the `de/` folder.

I assume, that the English file `0303-hd-ins-fromiso_en.md

[2022-04-16 11:38] ak-li commented on #47
@davydych
You are right.
Deleted with commit https://github.com/siduction/sidu-manual/commit/7b0c09bb393d643f5d8b574bae13673cc58c6fb2

[2022-04-16 11:38] #47 closed, assigned to nobody

[2022-04-16 12:46] Mister00X commented on #46
Ah thanks :+1: I just wanted to avoid any misunderstandings.

[2022-04-16 13:36] ak-li commented on #46
Now I tested `--highlight-style=tango`

The option has no effect on the text.
Not with other styles, not with different languages and not if it is moved after the -o option (I read somewhere).
Only the '#' causes italic text.

[2022-04-16 13:54] Mister00X commented on #46
Am 16. April 2022 15:37:04 MESZ schrieb ak-li ***@***.***>:

Interesting. To be honest I'm not entirely sure why it does that. Maybe it has no highlight-style for shell-syntax or it conflicts with listings. I should really rtfm of pandoc :)

[2022-04-16 22:11] ak-li commented on #46
I searched and tested for several hours, but no acceptable result.
In `11-helpfile-pdf-manual-header.tex` there are definitions for code highlight starting at line 79.
If they are activated, we get only partially reasonable output. The biggest flaw is the use of the hash (#). Highlighted is the one comment, we use it to mark the root terminal. An unsolvable conflict.

[2022-04-17 08:52] Mister00X commented on #46
@ak-li Did you also tested removing the `--listings` option and leaving the  `--highlight-style=tango` option as is?

What do you think is the best solution?
Leave `--highlight-style=tango` as is, comment the option out or remove it entirely?

[2022-04-17 12:07] ak-li commented on #46
@Mister00X

Yes:
- remove only `--listings`  in `10-generate-pdf-manual.sh` -> compiler error `! Undefined control sequence. <recently read> \lstset `
  - additionally comment `\lstset` in `11-helpfile-pdf-manual-header.tex` -> other compiler error
-  remove only `--highlight-style=tango`  in `10-generate-pdf-manual.sh` -> no changes
- made changes as followed  in `11-helpfile-pdf-manual-header.te

[2022-04-17 18:27] ak-li commented on #46
@Mister00X

There is no useful way to declare the background color for inline code in the header when using "--listings". This is only possible with LaTex code in the md document. :-((

Now the change I did:

`basicstyle` only once with all options needed. Color in human readable code. Font size normal. Easily readable in text. Recognizable as code by the same color as in the block. By the color n

[2022-04-18 12:19] ak-li opened #48 "PDF: numbering and subsections on a new page"
@davydych , @Mister00X  , @hhl
We had a whole series of shortcomings with the layout of the PDF. It started with issue #40, the improvement led to https://github.com/siduction/sidu-manual/issues/40#issuecomment-1098927781 (each subsection starts on a new page) and the changes I made were not satisfactory and led to commit https://github.com/siduction/sidu-manual/commit/ef49b12dfa0eef676b6fbbacba21

[2022-04-18 12:58] ak-li commented on #48
@Mister00X
Please check if the double use of "\clearpage" can cause problems.
Inserted between files 0003- and 0100- , once from `10-generate-pdf-manual.sh` and once from `11-helpfile-pdf-manual-header.tex`.

The PDF looks good at this point.

[2022-04-18 13:45] Mister00X commented on #48
Am 18. April 2022 14:58:34 MESZ schrieb ak-li ***@***.***>:
***@***.***

@ak-li I'm gonna have a look at it either this evening or tomorrow morning.

[2022-04-18 19:56] ak-li commented on #46
Another test file with font size "\small" instead of "\normalsize".
[siduction-manual_en.pdf](https://github.com/siduction/sidu-manual/files/8507817/siduction-manual_en.pdf)

[2022-04-19 09:40] Mister00X commented on #48
@ak-li I have now had a look at the LaTeX output produced by pandoc (by replacing `.pdf` with `.tex` in `10-generate-pdf-manual.sh`).

The generated LaTeX code in [siduction-manual_en.tex.gz](https://github.com/siduction/sidu-manual/files/8511683/siduction-manual_en.tex.gz) shows no signs of a double `\clearpage` before `\section{Quickstart}` (thats around line 759) but I guess that is because the

[2022-04-19 09:51] Mister00X commented on #46
@ak-li Imho the version with `\small` looks better to me. Also some code blocks fit into one line thanks to that.

Btw (and I am asking this because I'm completely clueless about that topic) could the reddish colour for the code lead to accessibility problems with people who suffer from colour-blindness?

[2022-04-19 18:37] ak-li commented on #46
@Mister00X

Then we use `\small`.

+ **Color blindness**: No colors can be perceived, only contrasts light-dark (0,001% men and women).
  Inline text: Differentiation exclusively by font size and style. May be we should use `\bfseries` (bold) without color.
  Block code is easily readable through the background.

+ **Color vision deficiency**:
  <ins>L-System (without red)</ins>: 1% men, 0,02% wom

[2022-04-19 19:19] ak-li commented on #48
@Mister00X

I test all 1st and 2nd order heading hyperlinks too. They are all fine. Some 2nd order headings do not start with a new page (e.g. 4.5 The fstab). But this is intentional, because several may occur within one file and the file order has priority.

Very good. I am relieved about that.
Now I close this issue.

[2022-04-19 19:19] #48 closed, assigned to hhl, ak-li, davydych

[2022-04-21 07:09] Mister00X commented on #46
As someone who is kinda used to it, I believe that maybe the switch to a monospaced font from a sans serif font could be clear enough. (That's entirely subjective though.)

I am very much for the use of colours. Regarding the colour vision explanation do you want to generate two versions of the manual one special version for colour blind people and one regular version? Or did I misunderstood this

[2022-04-21 09:57] ak-li commented on #46
That's exactly how I imagined it.
Because the colored version is also attractive for normal-sighted people. The explanation rather serves to justify the relatively bright color.

[2022-04-21 10:29] Mister00X commented on #46
I see. I'm fine with that :+1:

[2022-04-21 11:07] ak-li commented on #46
Which color do you think is better?
If we agree, I would transfer the suggestion to a new issue and ask the other members.

[2022-04-21 11:25] Mister00X commented on #46
Personally I like the orange version more, I feel like green is kinda too much (like too eye catchy). The orange version is to me more visually pleasing.

[2022-04-21 11:58] ak-li commented on #46
Also OK
I start a new issue and put both variants to the vote.
Then I enter both color variants into `11-helpfile-pdf-manual-header.tex` and close this issue.

[2022-04-21 12:53] ak-li opened #49 "PDF-Manual with support for people with color vision impairment."
Mister00X brought up the idea of making the manual color coded so that people with color vision deficiencies can easily recognize the code blocks and inline code.
It should be known that all people with color vision deficiency can easily recognize the colors yellow and blue.
Therefore, we changed the background color of the warnings to yellow. The links remain blue as before.

These two variants a

[2022-04-21 13:23] ak-li commented on #46
closed with commit https://github.com/siduction/sidu-manual/commit/ec396c08d9967660c40e7c6966dd5b708b7f1014

[2022-04-21 13:23] #46 closed, assigned to nobody

[2022-04-21 19:52] ak-li commented on #49
1. Für alle, die sich das Handbuch etwas genauer ansehen möchten.
   Vollständiges PDF-Handbuch mit farbigem Code hier erhältlich:
   https://github.com/siduction/sidu-manual/tree/WIP/data/de/pdf
2. Die Abstimmung bleibt bis zum 28.4.2022 offen.
3. Der Eintrag in der Abstimmungsliste ist bis dahin änderbar.
----------------------

1. For those who want to have a closer look at the manual.
   Full

[2022-04-21 20:12] hhl commented on #49
@DonandJoyceWard, please also take a look

[2022-04-21 20:21] vinzv commented on #49
Orange might be more eye friendly in the long run. Yet, I'm happy with both colors.

That said, thanks for the initiative @Mister00X! These are things falling off the table way too frequently.

[2022-04-22 13:56] hhl commented on #49
For me, it is OK with green, but I also can life with orange.

@ak-li -> One thing/question, would it be possible to use a smaller font in the code-box?
It could be better to read, currently the code breaks too often and jumps out of the code-box <- @Mister00X -> the width of the code and code-box are different! We use for the box itself .95, but not for the code. (page 158, chapter 5.2 IWD as exa

[2022-04-22 16:34] Mister00X commented on #49
Looking at page 162 of the green version I can clearly see what you @hhl are talking about.
And I may have already found the cause. In ec396c08d9967660c40e7c6966dd5b708b7f1014 the fontsize for code changed from `\footnotesize` to `\small`.

I am currently experimenting a bit, because a plain `\footnotesize` does not seem to work for me atm.

[2022-04-22 17:31] Mister00X commented on #49
I think the problem with code jumping out of the code box can be solved by replacing `\small` with `\footnotesize` here https://github.com/siduction/sidu-manual/blob/37941dc3a71e089982668b5800ba25d581012b7c/development/11-helpfile-pdf-manual-header.tex#L78 and here https://github.com/siduction/sidu-manual/blob/37941dc3a71e089982668b5800ba25d581012b7c/development/11-helpfile-pdf-manual-header.tex#L

[2022-04-22 18:29] hhl commented on #49
Well, it is looking much better!
I could also live with the `\footnotesize`, but for some people it would be too small, I agree with you!

[2022-04-22 19:17] Mister00X commented on #49
The code blocks do look better, yes, but inline code begins to look strange with `\scriptsize` too. In the picture below, "cfdisk" is too small, and the bold inline code "mkfs.ext4 /dev/sdaX" too. :-/

![Example screenshot](https://user-images.githubusercontent.com/103577798/164778980-f5600c23-6682-4bd8-b361-d7ca775f5a34.png)

[2022-04-22 20:13] hhl commented on #49
I prefer this version too, `\scriptsize` is too small

[2022-04-22 21:55] Mister00X commented on #49
Shall I send a PR with the `\footnotesize` change now or wait until the vote green vs. orange is decided?

[2022-04-22 22:07] Mister00X opened #50 "The wiki disappeared?"
For me both links https://github.com/siduction/sidu-manual/wiki/DE_Home and https://github.com/siduction/sidu-manual/wiki/EN_Home lead to the "main" github page (https://github.com/siduction/sidu-manual). Also the wiki button/tab/whatever disappeared (at least for me).

[2022-04-23 04:50] hhl commented on #49
Good question, if you send a PR now you maybe have to rebase it. I do not know how @ak-li handle it.

[2022-04-23 04:53] hhl commented on #50
Some one stollen it,  also for me. The button disappeared.

[2022-04-23 05:28] hhl commented on #50
It was disabled via settings, don't know what happened!

[2022-04-23 05:28] #50 closed, assigned to nobody

[2022-04-23 11:27] Mister00X opened #51 "Mention the `--resizefs` command line option for extending logical volumes"
I noticed that the (german) manual describes the process of enlarging an logical volume in two steps, first enlarge the logical volume and then enlarge the filesystem here https://github.com/siduction/sidu-manual/blob/37941dc3a71e089982668b5800ba25d581012b7c/data/de/0315-part-lvm_de.md?plain=1#L143-L159
`lvextend(8)` is capable of resizing/enlarging the filesystem using `fsadm(8)` when passed the

[2022-04-23 14:27] ak-li commented on #49
@Mister00X , @hhl ,
I think we're drifting into the wrong turn right now.
Due to previous changes, we have moved away from the professional layout specified by LaTex.
The more we make individual changes, the further we move away from this professional layout.
We are committing the same mistake that I myself was involved in regarding Issue 48. (Changing text format to prevent page breaks).
@hhl , P

[2022-04-23 14:52] Mister00X commented on #49
Agreed.

@ak-li Do you know the actual column limit for listings, is it 60 characters? I couldn't find anything in the manual about this :-/

P.S.: I just remembered something the English version of the manual has *letter* as its paper size while all other (i.e. the German) version has *A4* as paper size. We need to watch out that what we do works for both paper sizes.

[2022-04-23 15:59] ak-li commented on #49
@Mister00X

In Commit https://github.com/siduction/sidu-manual/commit/283633c64daaeaf2d0a1dbc6058bcb024d6f7709 I changed some in 0717-.. to 65 characters. It follows an addition in 'DE_Home' and 'EN-Home'.

[code]

Therefore, what fits in A4 also fits in Letter.

It's nice, the work does not run out.

[2022-04-23 16:16] Mister00X commented on #49
Then we should always look at an A4 version when it comes to code block widths, shouldn't we?

[2022-04-24 20:51] DonandJoyceWard commented on #49
Hello everyone.  I just saw this thread this afternoonand have scanned the
two proposed color schemes.  I cannot figure out how to insert my vote on
the matrix ak-li originally sent out, but I think the green text in the
.pdf version is slightly easier to read.  It gets my vote.

I have been going over the English manual draft of GITHUB (slowly, I fear,
because I cannot devote a lot of time to thi

[2022-04-25 07:06] davydych commented on #49
@DonandJoyceWard

Thanks for your feedback and for the link!

1. I will pay more attention to such deadwood. Phrases like "makes it possible" and "tends to" are based on the German version and I tried not to be too creative in my translations ;) But I agree with you.

2. Could you give an example for such an awkward sentence?

3. The German version is written in a quite casual style and often uses

[2022-04-25 07:29] DonandJoyceWard commented on #49
Thanks, davydych.  I will try to edit a couple of files to illustrate the
readability issues I mentioned in points 1 and 2 and notify you and the
team when I have finished them in the repository.  I am certainly not a
linguist, but I have been editing and grading English (mostly US English)
technical writing of graduate and undergraduate students since about 1966.
Nonetheless, there is a lot of su

[2022-04-25 07:43] fethomm commented on #49
Thanks  for both of your input on the subject of style for a technical manual. For me, personally the casual style, in which the manual is written in (from what I remember, the original was written in EN, then translated to DE) is OK for our project, as long as it does not obfuscate technical clarity. Besides that, it would be far too much work to really change the style to something more professi

[2022-04-25 07:45] DonandJoyceWard commented on #49
Thanks, Ferdinand.

Don Ward or Joyce Ward
***@***.***  (Primary)
***@***.*** ***@***.***> (Secondary)
1401 Greenbrier Dr
Sherman, TX 75092
Cells:   Don:    903 818-3381
           Joyce:  903 818-3382

On Mon, Apr 25, 2022 at 2:43 AM Ferdinand Thommes ***@***.***>
wrote:

[2022-04-25 13:30] ak-li commented on #34
@davydych
Kannst du mir wieder behilflich sein?
Ich habe in der Datei [EN_Home](https://github.com/siduction/sidu-manual/wiki/EN_Home) unter "7. Code block" Zeile 110 bis 115 deutschen Text eingefügt, der zu übersetzen wäre.

Vielen Dank

[2022-04-25 13:54] ak-li commented on #49
@DonandJoyceWard
I basically agree with devil's opinion. The tone in the community is quite relaxed and the manual does not claim to be a technical thesis in my opinion.
Since I know how time-consuming the revision of the entire manual is, I do not want to impose this effort on you. Regardless of this, improvements to what you consider to be bad parts of the text are very welcome.

[2022-04-25 14:50] davydych commented on #34
@ak-li
Erledigt

[2022-04-25 16:00] ak-li commented on #34
Danke

[2022-04-25 16:00] #34 closed, assigned to davydych

[2022-04-25 19:00] DonandJoyceWard commented on #49
Don Ward or Joyce Ward
***@***.***  (Primary)
***@***.*** ***@***.***> (Secondary)
1401 Greenbrier Dr
Sherman, TX 75092
Cells:   Don:    903 818-3381
           Joyce:  903 818-3382

On Mon, Apr 25, 2022 at 8:54 AM ak-li ***@***.***> wrote:

[2022-04-26 11:58] ak-li commented on #33
Die Übersetzung ins englische ist weitgehend erledigt. Das Layout für das PDF geht der Vollendung entgegen.
Es fehlt noch:

+ ~~Prüfung des Layout für die HTML Dateien~~
  Erledigt. CSS an die geänderte Schriftgröße des Codes angepasst.
+ ~~Farben in den HTML Dateien bezüglich issue 49~~
  Alles schwarz, grau, weiß. Nur besuchte Link sind orange und der Hintergrund der Tabellen hat eine von grau e

[2022-04-28 10:22] ak-li commented on #49
The voting is finished. The result is 3 for orange and 6 for green.
The changes to the green variant will be incorporated immediately.

[2022-04-28 12:25] ak-li commented on #49
Closed with commit https://github.com/siduction/sidu-manual/commit/4eadd9518b0e00fb5242b665e4208c41cf9cf7fa

[2022-04-28 12:25] #49 closed, assigned to nobody

[2022-04-29 11:54] ak-li opened #54 "Cleanup 10-... and 11-..."
@Mister00X
Doppelte und unnötige LaTex Optionen entfernen.
Statische Optionen nach 11-... verlegen.

[2022-04-29 14:40] Mister00X commented on #54
Eigentlich, denke ich, dass die klügere Variante die ist, alles aus 11-... zu entfernen, was bereits über [pandocs template](https://github.com/jgm/pandoc-templates/blob/master/default.latex) geregelt wird. Sonst haben wir das immer öfter doppelt gemoppelt. Denn einige Optionen die über `-V key=val` gesetzt werden haben Voreinstellungen, wenn die nicht in 10-... gesetzt werden bekommen wir (möglic

[2022-04-29 22:21] ak-li commented on #54
Datei `10-generate-pdf-manual.sh`:
Alle Variablendefinitionen die keine Variablen sind, entfernt und die Werte direkt in den pandoc Befehl eingetragen.
Das Ergebnis:

[code]

Die Optionen, die LaTex unabhängig vom pandoc Befehl verarbeitet, werden in die Datei `11-helpfile-pdf-manual-header.tex` übertragen.
Das sind die "geometry" Deklarationen, die für alle Sprachen gelten und die Schriften.

[co

[2022-04-30 12:53] Mister00X commented on #54
Okay verstehe, in dem Fall kannst du `\usepackage{geometry}` auch noch aus 11-... entfernen wenn du willst, da durch `-V geometry:textheight=$textheight`in 10-... bereits `\usepackage[textheight=...]{geometry}` eingefügt wird und `\geometry{}` hier dann einfach Optionen hinzufügt.

[2022-04-30 15:02] ak-li commented on #54
Änderungen mit commit https://github.com/siduction/sidu-manual/commit/f9242f210c3c45ae1d1d754a5b2d2b86980014f1 eingepflegt und mit commit https://github.com/siduction/sidu-manual/commit/7a573e9d30d8c1098ae83f56ec2fa5bbfeecd814 zu plausiblerem Namen umbenannt.

[2022-04-30 17:59] Mister00X commented on #54
Das wird langsam richtig gut :smile:

[2022-04-30 18:21] ak-li commented on #54
Freut mich, dann schließe ich das issue.

[2022-04-30 18:21] #54 closed, assigned to nobody

[2022-05-11 21:34] vinzv commented on #33
Der neueste Snapshot vom 01.05.22 ist jetzt online. Es gibt eine Vorschaltseite für DE/EN

Zum responsiven Design:
Die Seite ist (noch) ein Frameset, sprich nur sehr bedingt responsive, weil das Manual im Grunde aus zwei Dateien besteht:
1. tree-menue
2. der jeweilige Inhalt.

Ich kann jetzt schon anfangen, alles nachträglich händisch zu mergen. Sinnvoller erscheint mir aber, das direkt mit pandoc

[2022-05-12 06:48] hhl commented on #33
@vinzv, Danke, nur eine Sache, der EN-Link verweist noch auf DE.

@ak-li, @Mister00X, @davydych besonderer Dank an Euch!

[2022-05-12 07:31] hhl commented on #33
Gut, gefixt, EN verweist auf EN

[2022-05-12 10:29] ak-li commented on #33
@vinzv

Sag mir was du benötigst. Ich bau das ein.
Oder erstelle mir eine Musterseite.

[2022-05-12 12:45] vinzv opened #56 "Separates Menü und Inhaltsseiten HTML mergen"
Momentan liefert pandoc im Grunde zwei Dateien:
- Treemenue
- Seiten mit Inhalt
Das führt dazu, dass wir Frames verwenden müssen.

Wenn ich mir `development/22-template-html-manual.html` und `development/31-header-html-menu.html` anschaue, müssten sich diese beiden Seiten doch eigentlich mergen lassen, oder? Also, eigentlich diesen Block in `22-template-html-manual.html` übernehmen:

[code]

Und d

[2022-05-12 12:46] vinzv commented on #33
Ich habs mal in ein extra Issue gepackt: https://github.com/siduction/sidu-manual/issues/56

[2022-05-12 15:03] hhl opened #57 "Bild an falscher Stelle"
@ak-li @Mister00X
Beim kurzen Überfliegen der PDFs ist mir aufgefallen, dass auf den Seiten (DE_Manual) 140, 141, 142 es zu einer Verschiebung der Grafik gekommen ist als auch eines Code-Blockes!
 Die Grafik/ das Bild/ Abbildung 52 (iwctl help) müsste vor dem letzten Code-Block auf Seite 140 abgebildet werden, direkt nach [...] dann am Eingabe-Prompt help.
Siehe https://github.com/siduction/sidu-m

[2022-05-12 17:45] Mister00X commented on #57
Huh, okay anscheinend ist die Email die ich an dieses Issue geschrieben habe nicht angekommen, was solls :man_shrugging:

An und für sich ist das so pandoc packt Bilder mit Bildunterschriften in floats (zu Deutsch Gleitumgebungen), die machen genau was der Name sagt und sind in der Postion variabel, weil (von LaTeX) angenommen wird das man sie im Text sowieso referenziert. Da entscheidet dann ein

[2022-05-12 18:09] Mister00X commented on #57
Also ich denke ich habe eine Lösung gefunden, **aber** die ändert die Eigenschaften von jedem Float in dem Gesamten Dokument.

Für meine Lösung hab ich einfach  das hier https://github.com/jgm/pandoc/issues/845#issuecomment-269742491 übernommen, bzw. https://stackoverflow.com/a/33801326 .

Jetzt mal 'ne Frage, die Antwort auf Stackowerflow ist CC BY-SA-3.0 lizensiert, kann ich das trotzdem da einf

[2022-05-12 20:10] ak-li commented on #33
Damit ist dieses Issue erledigt. Dank an alle, die daran mitgearbeitet haben.
Ich schließe es.

[2022-05-12 20:10] #33 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li

[2022-05-12 20:18] ak-li commented on #56
@vinzv
Wenn ich das richtig sehe, willst du in allen 50 HTML-Dateien das Menü einbauen. Ist problemlos machbar, aber verstehe den Sinn nicht.

[2022-05-12 20:25] vinzv commented on #56
Ganz einfach:
Momentan sind das ja Frames. Frames sind aber einerseits schon seit Jahren deprecated, andererseits funktioniert damit die Darstellung abhängig von der Displaygröße nicht. Ich habe die nur als Notbehelf verwendet um damals möglichst schnell das Manual online zu bekommen.

[2022-05-12 20:36] ak-li commented on #56
Das ist schon klar.
Was mich irritiert, ist die Darstellung im Browser. Vermutlich bekommen wir einen riesigen Header mit dem Inhaltsverzeichnis bevor die eigentliche Webseite anfängt.
Ich probiere es einfach mal aus.
Melde mich vermutlich morgen.

[2022-05-12 20:52] vinzv commented on #56
Den Header positioniere ich mit CSS an die linke Seite, dann sieht es aus wie bisher.
Ziel ist es, das Menü auf Smartphones ausblenden zu lassen und einen Button einzufügen mit dem es sich einblenden lässt.

[2022-05-12 21:43] ak-li commented on #56
Eine Datei mit dem Menü am Anfang. (Screenshot)
Die CSS Formate habe ich über IDs angepasst, da es sonst Überschneidungen mit den Formaten der HTML Inhalte gibt.

Kannst du mir für

einen Codeschnipsel geben?

[help_de.txt](https://github.com/siduction/sidu-manual/files/8682728/help_de.txt)
Das ist die HTML Seite zum Screenshot. (.txt, weil .html zum Hochladen nicht unterstützt wird. Zum Anschauen

[2022-05-13 07:00] hhl commented on #57
Die Frage3ist, braucht es die Abbildung? Zwar nice to have, aner man könnte sie auch weglassen.Am 12.05.2022 20:10 schrieb Mister00X ***@***.***>:

Also ich denke ich habe eine Lösung gefunden, aber die ändert die Eigenschaften von jedem Float in dem Gesamten Dokument.

Für meine Lösung hab ich einfach  das hier jgm/pandoc#845 (comment) übernommen, bzw. https://stackoverflow.com/a/33801326 .

Jetz

[2022-05-13 08:41] Mister00X commented on #57
Also ich denke an dieser einen Stelle ist das wahrscheinlich überflüssig.
Allerdings, erscheinen einige andere Abbildungen auch nicht dort wo sie im Markdown Dokument stehen.... z.B. in dem Abschnitt zu Calamares.
Das ganze ist ein bisschen doof, weil LaTeX bei floats eben eigentlich davon ausgeht, dass sie im Text referenziert werden und deswegen nach einem Internen Entscheidungskriterium entsche

[2022-05-13 11:38] ak-li commented on #56
In dieser Datei wurde der CSS Code bereinigt und die vertikalen Abstände in Listen wurden optimiert.
[help-2_de.txt](https://github.com/siduction/sidu-manual/files/8686677/help-2_de.txt)

[2022-05-13 12:20] vinzv commented on #56
Ich hab das mal soweit umgebaut:

- Menü links (25% Breite)
- Inhalt rechts (75% Breite)
- Komplette Seite auf 70% Bildschirmbreite
- Menü "sticky", es bleibt beim Scrollen immer sichtbar
- Menü bekommt eine Scrolleiste, wenn es durch Ausklappen zu hoch für den Bildschirm ist

![grafik](https://user-images.githubusercontent.com/74432/168281646-8209b1be-8813-41ec-a753-952e6d4c8f44.png)

Das Anzeige

[2022-05-13 15:42] hhl commented on #57
Erst mal sorry für die Chaos-Nachricht da oben (Was man beim Antworten via Smartphone beachten sollte).

Mh, welche Art von Dokument wird denn da genutzt?
Ich habe vor Ewigkeiten, um 1995, mal ein Buch, knapp 400 Seiten, mit LaTeX gesetzt.
Dort waren auch einige Bilder unterzubringen. Es hat funktioniert, und zwar an richtiger Stelle.
Dokument-Typ Book, wenn ich mich recht erinnere.
Vielleicht mus

[2022-05-13 16:42] Mister00X commented on #57
Ja also die Klasse hat hier nicht viel mit zu tun. Pandoc nutzt die Klasse `article`.
Das Problem ist schlicht und ergreifend, dass von pandoc (richtigerweise) alle Bilder mit Bildunterschriften (die nicht in einer Liste stehen), in eine Gleitumgebung packt und xelatex macht dann genau was es soll und nutzt den LaTeX internen Algorithmus um zu bestimmen wo das dann stehen soll.
Das läuft ungefähr

[2022-05-13 16:56] Mister00X commented on #57
Hah! Ich hatte den richtigen Riecher, fügt man ein Bild ohne Bezeichnung ein, so macht pandoc daraus nur `\includegraphics{pic.png}` das Ergebnis sieht dann so aus [siduction-manual_de.pdf](https://github.com/siduction/sidu-manual/files/8689527/siduction-manual_de.pdf) (Seite 140).
Damit haben wir eine weitere Option, wir könnten im Markdown-Dokument an allen Stellen wo ein Bild wirklich ***genau

[2022-05-14 21:32] ak-li commented on #57
@Mister00X

Hast du für das PDF aus dem vorhergehenden Kommentar im Kapitel "4.8 Partitionieren mit fdisk" auch die Beschreibung entfernt? Die Bilder stehen dort genau so wie in PDF vom 1.5.2022.

[2022-05-15 09:43] Mister00X commented on #57
Nein hab ich nicht, ich habe es nur für das Bild auf Seite 140 geändert, ich wollte an und für sich nur testen ob es überhaupt funktioniert.

Ich hatte da total vergessen, dass die Position der Bilder in 4.8 auch nicht stimmt :-/

[2022-05-15 17:10] ak-li commented on #57
Habe einen Versuch unternommen, die Darstellung zu verbessern.
Im Kapitel "4.8 Partitionieren mit fdisk" die großen Bilddateien in der Höhe durch Herausschneiden der großen schwarzen Blöcke verkleinert und die Bildunterschriften entfernt wie oben beschrieben.
Dadurch bleiben die Bilder an der gewünschten Stelle und die leeren Bereiche in den Seiten fallen nicht so groß aus.
Man muss aber berücksic

[2022-05-15 17:37] ak-li commented on #57
Einen weiteren Versuch habe ich im Bereich der Datei "0301-hd-install_de.md" unternommen.
Dort wurden zuvor einige Graphiken aus dem Kapitel "4.1.6 Das Installationsprogramm Calamares" hinter die Überschrift und einigen Textzeilen des folgenden Kapitels "4.1.7 System verschlüsseln" verschoben.

Wenn man die letzte Graphik des Kapitels 4.1.6 fixiert (Beschreibung entfernt), bleiben alle Graphiken i

[2022-05-15 19:05] Mister00X commented on #57
Super!  Vielleicht sollte man im "Markdown-Styleguide" irgendwo festhalten, dass man in Zukunft, für alle Abbildungen die nicht später nochmal (mit einem Link) referenziert werden und von denen man möchte, dass sie ***genau da*** auftauchen, keinen "ALT-Text" mit eingibt.

[2022-05-16 18:10] ak-li commented on #57
Das hat mich irritiert.
Soweit ich weiß, gibt es in Markdown keine Möglichkeit mittels eines internen Link zu einer Abbildung zu springen. Es ist nicht möglich für die Abbildung ein Label zu definieren, das nativ von Pandoc übernommen wird und nicht als Text in der HTML-Ansicht der md-Datei erscheint.

Das erledige ich nachdem die oben erwähnten Änderungen von mir eingepflegt wurden.

[2022-05-17 09:23] Mister00X commented on #57
Kann gut sein, dass ich mich hier geirrt habe, ich war überzeugt, dass man ein Bild im Text referenzieren kann, aber ich hab das wahrscheinlich mit org-mode verwechselt.
Sorry für die Verwirrung.

[2022-05-20 11:17] ak-li commented on #57
Das Ergebnis unserer Lösung ist nicht befriedigend.

1. Fixierung mittels Entfernung der Beschreibung
   Wenn das letzte Bild eines Kapitels (z.B. Bild 9) fixiert wird, kann es vorkommen, dass es an der gewünschten Stelle erscheint, Bild 7 und 8 aber irgendwo im nächsten Kapitel auftauchen. Das heißt, die floating-Elemente wandern in einer nicht berechenbaren Art durch das Dokument. Die Hoffnung,

[2022-05-20 12:37] ak-li commented on #57
Ich habe die letzten Tage recherchiert und viel getestet; mit folgendem Ergebnis:

`\includegraphics{pic.png}` für sich allein stehend fixiert das Bild im Text, aber erlaubt keine Option "\centering" und keine Optionen für Abstände zum Text davor und danach. Um derartige Formatierungen vorzunehmen muss man das Bild in `\begin{figure}` und `\end{figure}` einbetten.

[code]
funktioniert mit pandoc n

[2022-05-20 13:17] ak-li commented on #57
Handhabung für Autoren und KISS

Die im vorhergehenden Kommentar mitgelieferten PDFs wurden automatisch erzeugt. Das heißt, die md-Dateien kann man wie bisher schreiben.

aus
[code]
wird
[code]
das erledigt dieser Befehl in `10-generate-pdfmanual.sh`
[code]
Die ursprünglichen md-Dateien bleiben unverändert erhalten, da mit Kopien gearbeitet wird. Somit hat der Code auch keine Auswirkung auf die Er

[2022-05-23 14:41] ak-li commented on #32
Arbeit erledigt, commit https://github.com/siduction/sidu-manual/commit/e242a584bd7cfce7775fedd0f04639a562fc5805, https://github.com/siduction/sidu-manual/commit/8d22e440d934c451a73f94f284156d5444eb8ffa und https://github.com/siduction/sidu-manual/commit/cc57a464a9a6dd8b254cb363530d51983103c597 mit einem Programmaufruf von `00-generate-manual.pl` erstellt.

[2022-05-23 14:41] #32 closed, assigned to vinzv, hhl, fethomm, towo2099, davydych

[2022-05-25 13:59] ak-li commented on #57
Keine Einwände. Gut, dann kann ich das Issue mit folgendem Ergebnis schließen:

1. Der md-Code bleibt unverändert
   `![Beschreibung/Untertitelung](./Pfad/zum/Bild.png)`
   + Innerhalb von Listen dürfen bis zu 8 Leerzeichen vorangestellt werden.
     Im HTML erhalten die Bilder dadurch den korrekten Einzug.
     Im PDF ist es unerheblich, da die Bilder horizontal zentriert werden (s.u.).
   + Durc

[2022-05-25 13:59] #57 closed, assigned to ak-li

[2022-05-25 19:37] Mister00X commented on #57
@ak-li Erstmal sorry das ich mich nicht gemeldet habe, ich habe effektiv erst seit heute wieder Zeit mich um das hier zu kümmern.

Dann zu deiner Lösung, ich finde sie gut und ich bin ehrlich gesagt erstaunt, dass

tatsächlich funktioniert (sollte es nämlich meiner Meinung nach überhaupt nicht :sweat_smile:).

Die andere Möglickeiten die ich gefunden hatte bevor sich $real_life bei mir eingemischt

[2022-05-26 12:40] ak-li commented on #57
Es ist ok. Jeder macht das was er kann und möchte und wann er es kann und möchte.

Du hast es auf den Punkt gebracht.
Wir sind darauf angewiesen möglichst reines Markdown als Quellformat zu verwenden. Nur so können verschiedene Autoren mit wenig Aufwand die Wartung und das Erstellen neuer Seiten oder Kapitel leisten.
Und deshalb müssen wir Kompromisse eingehen.
Einer davon sind die verkleinerten B

[2022-06-16 09:47] ak-li opened #58 "HTML: Externe Link erzeugen Fehlermeldung im Browser"
In der neuen 'index_xx.html' für das Handbuch werden die einzelnen Seiten in einem 'iframe' angezeigt.
Klickt man auf einen externen Link erscheint häufig eine Fehlermeldung, dass der Inhalt nicht in dem Frame angezeigt werden kann. Der externe Inhalt sollte gleich in einem neuen Browserfenster oder Browsertab erscheinen.

Die externen Link müssen mit dem Code `target="_blank"` versehen werden.

H

[2022-06-18 14:19] ak-li commented on #58
Die Dateien `20-generate-html-manual.sh` und `22-template-html-manual.html` angepasst und dabei zusätzlich den Rahmen um die Seite entfernt.
Deutsche und englische HTML Seiten mit der Änderung erstellt.

[2022-06-18 14:19] #58 closed, assigned to nobody

[2022-07-06 17:27] ak-li commented on #56
Design vollständig überarbeitet. Das Handbuch wird nun gleichermaßen gut auf mobilen und stationären Ausgabegeräten dargestellt.
Mit dem Programmaufruf .`/00-generate-manual.pl en de` im Ordner `/development` werden alle HTML und PDF Dateien des Handbuches erzeugt.

[2022-07-06 17:27] #56 closed, assigned to ak-li

[2022-10-11 08:20] fethomm commented on #57
Hier sind die Maßgaben für CC BY-SA-3.0: https://creativecommons.org/licenses/by-sa/3.0/de/
Das würde dann in etwa so aussehen:
Quelle: wo kommt es her
Erstellt von: Name
Lizenz: CC BY-SA-3.0
Falls du etwas änderst, musst du das angeben

lg
Ferdinand

lg,
Ferdinand
--
LinuxNews täglich frisch:
https://linuxnews.de

[2022-10-11 08:35] Mister00X commented on #57
Am 12. Mai 2022 17:03:55 MESZ schrieb Hendrik Lehmbruch ***@***.***>:
***@***.*** @Mister00X >

Ich schau's mir heute Abend an. Kann sein, dass pandoc hier auf den LaTeX internen Algorithmus zur Positionierung vertraut, da muss das dann nicht immer genau da auftauchen wo man das gerne hätte.

Wenn es an der Stelle Auftritt, dann ist es schon möglich, dass das woanders auch passiert.

[2022-10-11 08:47] DonandJoyceWard commented on #26
My careful read is going slowly, but I have not stopped. Will forward some
suggestions within the next week or so.  My apologies for the slow progress.
Don Ward or Joyce Ward
***@***.***  (Primary)
***@***.*** ***@***.***> (Secondary)
1401 Greenbrier Dr
Sherman, TX 75092
Cells:   Don:    903 818-3381
           Joyce:  903 818-3382

On Sat, Apr 16, 2022 at 1:07 AM davydych ***@***.***> wrote:

[2022-10-11 10:39] fethomm commented on #26
Hi Don,

just take your time, and thanks for being thorough. Stay safe.

regards,
Ferdinand

lg,
Ferdinand
--
LinuxNews täglich frisch:
https://linuxnews.de

[2022-11-07 20:09] ak-li opened #60 "New chapter Nala needs review"
I translated the new file using DeepL
https://github.com/siduction/sidu-manual/blob/WIP/data/en/0707-sys-admin-nala_en.md
and inserted line 17 into
https://github.com/siduction/sidu-manual/blob/WIP/data/en/0700-sys-admin_en.md

Both need review.

[2022-11-08 08:11] davydych commented on #60
I've reviewed both files (and updated the wiki), so the issue can be closed.

[2022-11-08 08:11] #60 closed, assigned to vinzv, hhl, fethomm, towo2099, ak-li, der-bud, davydych